{% extends  'base.html' %}
{% block title %}

   Books - Library Management System

{% endblock title %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <h3 class="pb-3">Semesters</h3>
        </div>
       
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <p style="font-weight: 500;font-size: 20px;color:rgb(51, 50, 50);">List of Semester</p>
        </div>
    </div>
   <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <table class="table table-hover table-fixed">
                <thead>
                <tr>
                    <th>Semester No. </th>
                    <th>Faculty Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% if semesters %}
                {% for semester in semesters %}
                <tr>
                    <td class="pl-5">{{semester.number}}</td>
                    <td>{{semester.faculty.name}}</td>
                    
                    <td>
                        <a href="{% url 'delete_semester' semester.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" >
                        <p class="text-danger mt-4 text-center">
                            * No semesters found!
                        </p>
                
                    </td>
                </tr>
                {% endif %}
                
                </tbody>
                
            </table>
      </div>
   </div>
   <div class="row">
       <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}
                <p class="text-center" style="color:rgb(24, 23, 23);">{{message}}</p>
            {% endfor %}
        {% endif %}
       </div>
   </div>
</div>


{% endblock content %}