{% extends  'base.html' %}
{% load static %}
{% block title %}

   Change admin password - Nepal Glory Tech Pvt. Ltd.

{% endblock title %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}

{% block content %}
<!-- <div class="jumbotron" >
    <div class="row" style="margin:0;padding:0;">
        <div class="col-md-9">
            <h3 class="pb-3">Countries</h3>
        </div>
        <div class="col-md-3">
            <a href="{% url 'create_country' %}" class="btn btn-primary text-right">Add Country</a>
        </div>
    </div>
    
    <div class="row" style="margin-left:0 !important;margin-right:0 !important;">
    
        {% if countries %}
        <div class="row pt-1" style="display:flex;flex-direction:column;font-weight: 500;">
            {% for country in countries %}
            <div class="country-item pl-5 pb-4">
                <a href="{% url 'country_detail' country.country_name %}" class="country-name text-capitalize" >{{country.country_name}}</a>
            </div>
           {% endfor %}
        </div>
        {% endif %}
    
    </div>
    
    
    
</div> -->

<div class="row common-container">
    <div class="col-md-12 col-xl-12">
        <h4 class="company mb-5 ml-4 ">Change admin password - Nepal Glory Trek</h4>
    </div>

    <div class="col-md-12 col-xl-12">   
            <form name='change_password' method="post" class="ml-4">
                {% csrf_token %}
                <div class="form-group">
                    <label for="current_passoword" class="text-left">Current Password</label>
                    <input 
                            type="password" 
                            class="form-control" 
                            id="curent_password" 
                            name="current_password" 
                            tabindex="1" 
                            autofocus 
                    />                        
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input 
                            type="password" 
                            class="form-control" 
                            id="password" 
                            name="password" 
                            tabindex="2"
                    />
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input 
                            type="password" 
                            class="form-control" 
                            id="confirm_password" 
                            name="confirm_password" 
                            tabindex="3" 
                    />
                </div>

                <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                            <p> 
                                <span id="asterisk">*</span> 
                                <span id="error-msg"> {{message}}</span>
                            </p>
                                
                            {% endfor %}
                        {% endif %}
                </div>
                    
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-3 mb-4" tabindex="4">Change Password</button>
                </div>
                
            </form>

    </div>
</div>

{% endblock content %}